* {
  margin: 0;
  padding: 0; }

@keyframes latido {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes latido-1 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.03); }
  100% {
    transform: scale(1); } }

.nav {
  background-image: linear-gradient(#303030, rgba(70, 70, 70, 0.651));
  background-color: #464646;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .nav img {
    width: 120px; }
  .nav ul {
    list-style: none;
    display: flex;
    flex-direction: row; }
  .nav li {
    margin: 20px; }
  .nav a {
    color: #dd93c4;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px; }

@media (max-width: 1000px) {
  .nav {
    background-image: none;
    background-image: linear-gradient(#dd93c4, #fcbce7);
    justify-content: center;
    flex-direction: column;
    padding: 10px; }
    .nav a {
      color: #383637;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px; }
    .nav ul {
      width: 98%;
      justify-content: center;
      box-shadow: 0px 13px 12px 0px;
      margin-bottom: 10px;
      flex-wrap: wrap;
      width: 95vw; } }

@media (max-width: 800px) {
  .nav ul {
    width: 95vw; }
  .gris {
    background-color: #464646; } }

@media (max-width: 700px) {
  .nav ul {
    width: 93vw; } }

@media (max-width: 500px) {
  .nav ul {
    width: 90vw; } }

@media (max-width: 350px) {
  .nav ul {
    width: 48vw; } }

/* ------------Editando Boorstrap------------ */
div.container-fluid.nav:first-child {
  --bs-gutter-x: 0rem;
  --bs-navbar-padding-y: 0.5rem; }

.orientacion {
  justify-content: flex-end; }

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0rem; }

.main {
  overflow-x: hidden; }
  .main section {
    background-color: #403c44;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 0px 40px 0px; }
  .main h1 {
    background-color: #403c44;
    color: #d3a3c8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: solid;
    margin: 10px 0px 0px 0px;
    animation-name: latido;
    animation-duration: 5s;
    animation-iteration-count: 2; }
  .main img {
    width: 95vw; }
  .main h2 {
    color: #d3a3c8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 3px;
    animation-name: latido;
    animation-duration: 5s;
    animation-iteration-count: 2; }

.promocion-2,
.promocion-3 {
  display: none; }

.main article:hover {
  transform: scale(1.08);
  box-shadow: 0px 5px 5px 5px;
  overflow-x: hidden; }

@media (max-width: 1000px) {
  .main img {
    width: 100%; }
  .promocion-1 {
    display: none; }
  .promocion-2 {
    display: block; } }

@media (max-width: 500px) {
  .main img {
    width: 100%; }
  .promocion-2 {
    display: none; }
  .promocion-3 {
    display: block; } }

/* ------------Primera Seccion------------ */
.main__primer-seccion article {
  background-color: #403c44;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px; }

.main__primer-seccion img {
  width: 320px; }

@media (max-width: 640px) {
  .main__primer-seccion img {
    width: 75vw; } }

/* ------------Segunda Seccion------------ */
.main__segunda-seccion article {
  background-color: #2e2e2e; }

.main__segunda-seccion img {
  width: 85vw; }

.armado-2 {
  display: none; }

@media (max-width: 950px) {
  .main__segunda-seccion img {
    width: 95vw; } }

@media (max-width: 750px) {
  .armado-1 {
    display: none; }
  .armado-2 {
    display: block; }
  .main__segunda-seccion img {
    width: 95vw; } }

/* ------------Tercera Seccion------------ */
.main__tercera-seccion article {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: black;
  background-color: #cecece;
  width: 300px;
  margin: 10px;
  padding: 6px;
  border-radius: 5px; }

.main__tercera-seccion h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.main__tercera-seccion h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.main__tercera-seccion img {
  width: 285px; }

.main__tercera-seccion h3 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black; }

@media (max-width: 650px) {
  .main__tercera-seccion article {
    width: 170px; }
  .main__tercera-seccion img {
    width: 150px; }
  .main__tercera-seccion h3 {
    font-size: 20px; } }

@media (max-width: 450px) {
  .main__tercera-seccion article {
    margin: 4px;
    width: 158px; }
  .main__tercera-seccion img {
    width: 140px; } }

@media (max-width: 450px) {
  .main__tercera-seccion article {
    margin: 1px; } }

.armado {
  background-color: #403c44;
  overflow-x: hidden; }
  .armado h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #cf79bd;
    margin: 20px 0px 0px 0px;
    animation-name: latido;
    animation-duration: 5s;
    animation-iteration-count: 2; }
  .armado section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .armado article {
    display: inline-block;
    margin: 10px;
    background-color: #cccace;
    border-radius: 5px; }
  .armado h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black; }
  .armado a {
    text-decoration: none; }
  .armado img {
    width: 160px; }
  .armado__encabezado h1 {
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #403c44; }
  .armado__encabezado img {
    width: 95vw; }
  .armado__hardware img {
    width: 90vw;
    padding: 10px 20px;
    background-color: #cccace; }
  .armado__video iframe {
    width: 50vw; }

.armado article:hover {
  transform: scale(1.08);
  box-shadow: 0px 5px 5px 5px; }

.p-armado-2,
.p-armado-3 {
  display: none; }

@media (max-width: 1000px) {
  .armado__encabezado img {
    width: 100%; }
  .armado__video iframe {
    width: 87vw;
    padding: 8px 40px; }
  .p-armado-1 {
    display: none; }
  .p-armado-2 {
    display: block; } }

@media (max-width: 750px) {
  .armado__hardware img {
    padding: 8px 12px; } }

@media (max-width: 700px) {
  .armado__video iframe {
    width: 93vw;
    padding: 8px 12px; } }

@media (max-width: 500px) {
  .armado__hardware img {
    width: 90vw;
    padding: 8px 12px; }
  .armado__video iframe {
    width: 91vw;
    padding: 8px 12px; }
  .p-armado-2 {
    display: none; }
  .p-armado-3 {
    display: block; } }

@media (max-width: 400px) {
  .armado img {
    width: 125px; }
  .armado__hardware img {
    width: 82vw;
    padding: 8px 12px; }
  .armado__encabezado img {
    width: 100vw; }
  .armado__video iframe {
    width: 100vw; } }

.tienda {
  background-color: #403c44; }
  .tienda img {
    width: 100vw; }
  .tienda section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    padding: 40px; }
  .tienda h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #cf79bd;
    margin: 10px 0px 0px 0px;
    text-decoration: solid;
    animation-name: latido;
    animation-duration: 5s;
    animation-iteration-count: 2; }
  .tienda article {
    margin: 40px; }
  .tienda__producto p {
    text-align: center;
    color: black; }
  .tienda__producto img {
    width: 280px; }

.producto {
  margin: 40px; }
  .producto p {
    text-align: center;
    color: black; }
  .producto img {
    width: 280px; }

.nosotros {
  overflow-x: hidden;
  overflow-y: hidden; }
  .nosotros h1 {
    color: aliceblue;
    background-color: #403c44;
    text-align: center;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 20px 0px 0px 0px;
    animation-name: latido;
    animation-duration: 5s;
    animation-iteration-count: 2; }
  .nosotros p {
    color: aliceblue;
    background-color: #403c44;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 90px; }
  .nosotros h2 {
    color: aliceblue;
    background-color: #403c44;
    text-align: center;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px 0px 0px; }
  .nosotros article {
    background-color: #403c44;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 0px 10px 0px; }
  .nosotros img {
    width: 54vw; }

.nosotros article:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 5px 5px; }

@media (max-width: 600px) {
  .nosotros p {
    margin: 10px; } }

.contactanos {
  padding: 40px;
  background-color: #403c44;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.7fr .3fr;
  gap: 0px 0px;
  grid-template-areas: "Formulario Maps Maps Maps" "Formulario Maps Maps Maps" "Formulario instagram facebook wpp"; }

.Formulario {
  grid-area: Formulario; }

.facebook {
  grid-area: facebook; }

.instagram {
  grid-area: instagram; }

.wpp {
  grid-area: wpp; }

.Maps {
  grid-area: Maps; }

.contactanos section {
  padding: 10px;
  background-color: #cccace;
  margin: 20px;
  border-radius: 5px; }

.contactanos .instagram article,
.contactanos .facebook article,
.contactanos .wpp article {
  display: flex;
  justify-content: center; }

.contactanos img {
  width: 15vw;
  height: 15vw; }

.contactanos h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #b943b0;
  text-align: center;
  animation-name: latido;
  animation-duration: 5s;
  animation-iteration-count: 2; }

.Formulario article {
  display: flex;
  flex-direction: column; }

label {
  margin-bottom: 10px; }

button {
  width: 100%;
  padding: 15px;
  background-color: #b943b0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; }

.Maps article {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%; }

.Maps iframe {
  width: 100%;
  height: 100%; }

.contactanos section:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 5px 5px; }

@media (max-width: 1000px) {
  .contactanos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1.5fr .5fr;
    gap: 0px 0px;
    grid-template-areas: "Maps Maps Maps" "Formulario Formulario Formulario" "instagram facebook wpp"; }
  .contactanos img {
    width: 21vw;
    height: 21vw; } }

@media (max-width: 800px) {
  .contactanos {
    padding: 20px; } }

@media (max-width: 650px) {
  .contactanos {
    padding: 5px; } }

@media (max-width: 600px) {
  .contactanos {
    grid-template-rows: 1fr .7fr .2fr; } }

@media (max-width: 550px) {
  .contactanos {
    grid-template-rows: .7fr .2fr .1fr;
    padding: 0px; }
    .contactanos section {
      padding: 17px;
      margin: 10px; }
  section {
    padding: 17px;
    margin: 10px; }
  .Maps iframe {
    width: 100vw;
    height: 80vw;
    display: flex; } }

@media (max-width: 470px) {
  .contactanos section {
    padding: 10px;
    margin: 10px; }
  .Maps iframe {
    width: 100vw;
    height: 120vw; } }

@media (max-width: 430px) {
  .Maps iframe {
    width: 100vw;
    height: 120vw; } }

@media (max-width: 360px) {
  .contactanos section {
    margin: 7px; } }

@media (max-width: 340px) {
  .Maps iframe {
    width: 90vw;
    height: 130vw;
    display: flex; } }

.footer {
  background-image: linear-gradient(rgba(39, 39, 39, 0.808), #222222);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  overflow-x: hidden; }
  .footer article {
    display: flex; }
  .footer ul {
    padding: 4px;
    margin: 0px;
    text-decoration: none; }
  .footer li {
    list-style: none; }
  .footer img {
    width: 40px; }
  .footer a {
    color: #dd93c4;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px; }
    .footer a:hover {
      color: black; }

.instagram-2,
.facebook-2,
.wpp-2 {
  display: none; }

@media (max-width: 1000px) {
  .footer {
    background-image: none;
    background-image: linear-gradient(rgba(221, 147, 196, 0.315), #dd93c4); }
    .footer a {
      color: #383637;
      font-weight: bold;
      font-size: 20px; }
  .instagram-1 {
    display: none; }
  .instagram-2 {
    display: block; }
  .facebook-1 {
    display: none; }
  .facebook-2 {
    display: block; }
  .wpp-1 {
    display: none; }
  .wpp-2 {
    display: block; } }

@media (max-width: 650px) {
  .footer {
    justify-content: center;
    width: 100%; }
    .footer a {
      color: #383637;
      font-size: 15px; }
    .footer li {
      display: none; } }
