.contactanos {
    padding: 40px;
    background-color: rgb(64, 60, 68);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.7fr .3fr;
    gap: 0px 0px;
    grid-template-areas: "Formulario Maps Maps Maps" "Formulario Maps Maps Maps" "Formulario instagram facebook wpp";

}

.Formulario {
    grid-area: Formulario;
}

.facebook {
    grid-area: facebook;
}

.instagram {
    grid-area: instagram;
}

.wpp {
    grid-area: wpp;
}

.Maps {
    grid-area: Maps;
}

.contactanos {
    section {
        padding: 10px;
        background-color: rgb(204, 202, 206);
        margin: 20px;
    }

    .instagram article,
    .facebook article,
    .wpp article {
        display: flex;
        justify-content: center;
    }

    img {
        width: 15vw;
        height: 15vw;
    }

    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(64, 60, 68);
        color: rgb(185, 67, 176);
        text-align: center;
    }
}

.Maps {
    article {
        display: flex;
        justify-content: center;
    }

    iframe {
        width: 100vw;
        height: 55vw;
    }
}

@media (max-width: 1000px) {
    .contactanos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1.5fr .5fr;
        gap: 0px 0px;
        grid-template-areas: "Maps Maps Maps" "Formulario Formulario Formulario" "instagram facebook wpp";
    }

    .Maps iframe {
        width: 90vw;
        height: 100vw;
        display: flex;
    }

    .contactanos img {
        width: 21vw;
        height: 21vw;
    }
}

@media (max-width: 800px) {
    .contactanos {
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1.5fr .5fr;
        gap: 0px 0px;
        grid-template-areas: "Maps Maps Maps" "Formulario Formulario Formulario" "instagram facebook wpp";
    }

    .Maps iframe {
        width: 90vw;
        height: 100vw;
        display: flex;
    }
}

@media (max-width: 650px) {
    .contactanos {
        padding: 5px;
    }
}

@media (max-width: 600px) {
    .contactanos {
        grid-template-rows: 1fr .7fr .3fr;
    }

    .Maps iframe {
        width: 150vw;
        height: 100vw;
    }
}

@media (max-width: 550px) {
    .contactanos {
        grid-template-rows: .7fr .2fr .1fr;
        padding: 0px;

        section {
            padding: 17px;
            margin: 10px;
        }
    }

    .Maps iframe {
        width: 100vw;
        height: 80vw;
        display: flex;
    }
}

@media (max-width: 470px) {
    .contactanos section {
        padding: 10px;
        margin: 10px;
    }

    .Maps iframe {
        width: 100vw;
        height: 80vw;
        display: flex;
    }
}

@media (max-width: 430px) {
    .Maps iframe {
        width: 100vw;
        height: 120vw;
        display: flex;
    }
}

@media (max-width: 360px) {
    .contactanos section {
        margin: 7px;
    }
}

@media (max-width: 340px) {
    .Maps iframe {
        width: 90vw;
        height: 130vw;
        display: flex;
    }
}