.main {
    overflow-x: hidden;
    section {
        background-color: rgb(64, 60, 68);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0px 0px 40px 0px;
        
    }

    h1 {
        background-color: rgb(64, 60, 68);
        color: rgb(211, 163, 200);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        text-decoration: solid;
        margin: 10px 0px 0px 0px;
        animation-name: latido;
        animation-duration: 5s;
        animation-iteration-count: 2;
    }

    img {
        width: 95vw;
    }

    h2 {
        color: rgb(211, 163, 200);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding: 3px;
        animation-name: latido;
        animation-duration: 5s;
        animation-iteration-count: 2;
    }
}

.promocion-2,
.promocion-3 {
    display: none;
}
.main article:hover {
    transform: scale(1.08);
    box-shadow: 0px 5px 5px 5px;
    overflow-x: hidden;
}


@media (max-width: 1000px) {
    .main img {
        width: 100%;
    }

    .promocion-1 {
        display: none;
    }

    .promocion-2 {
        display: block;
    }
}

@media (max-width: 500px) {
    .main img {
        width: 100%;
    }

    .promocion-2 {
        display: none;
    }

    .promocion-3 {
        display: block;
    }
}

/* ------------Primera Seccion------------ */

.main {
    &__primer-seccion {
        article {
            background-color: rgb(64, 60, 68);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 10px;
        }

        img {
            width: 320px;
        }
    }
}

@media (max-width: 640px) {
    .main__primer-seccion img {
        width: 75vw;
    }
}

/* ------------Segunda Seccion------------ */

.main {
    &__segunda-seccion {
        article {
            background-color: rgb(46, 46, 46);
        }

        img {
            width: 85vw;
        }
    }
}

.armado-2 {
    display: none;
}

@media (max-width: 950px) {
    .main__segunda-seccion img {
        width: 95vw;
    }
}

@media (max-width: 750px) {
    .armado-1 {
        display: none;
    }

    .armado-2 {
        display: block;
    }

    .main__segunda-seccion img {
        width: 95vw;
    }
}

/* ------------Tercera Seccion------------ */

.main {
    &__tercera-seccion {
        article {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            color: rgb(0, 0, 0);
            background-color: rgb(206, 206, 206);
            width: 300px;
            margin: 10px;
            padding: 6px;
            border-radius: 5px;
        }

        h2 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }

        h3 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        img {
            width: 285px;
        }

        h3 {
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(0, 0, 0);
        }
    }
}


@media (max-width: 650px) {
    .main__tercera-seccion {
        article {
            width: 170px;
        }

        img {
            width: 150px;
        }

        h3 {
            font-size: 20px;
        }
    }
}

@media (max-width: 450px) {
    .main__tercera-seccion {
        article {
            margin: 4px;
            width: 158px;
        }

        img {
            width: 140px;
        }
    }
}

@media (max-width: 450px) {
    .main__tercera-seccion article {
        margin: 1px;
    }
}