.nosotros {
    h1 {
        color: aliceblue;
        background-color: rgb(64, 60, 68);
        text-align: center;
        text-decoration: solid;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        margin: 20px 0px 0px 0px;
    }

    p {
        color: aliceblue;
        background-color: rgb(64, 60, 68);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 90px;
    }

    h2 {
        color: aliceblue;
        background-color: rgb(64, 60, 68);
        text-align: center;
        text-decoration: solid;
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px 0px 0px 0px;
    }

    article {
        background-color: rgb(64, 60, 68);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    img {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    .nosotros p {
        margin: 60px;
    }
}

@media (max-width: 500px) {
    .nosotros p {
        margin: 20px;
    }
}